*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
body {
  
  background-color: #151825;
  color: white;
  min-height: 100vh;
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1
{
  margin-top: 10px;
  padding: 4px;
  text-align: center;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


p{
  text-align: center;
  font-size: 30px;
  padding: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.input-field
{
  border: 1px solid green;
}
.form

{
  
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.form input

{
  padding: 0.7rem;
  font-size: 1.6rem;
  border: none;
  background: #f7fffe;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
  margin-left: 10px;
  
}

.form button

{
  padding: 0.7rem 0.6rem 0.6rem;
  font-size: 1.7rem;
  border: none;
  background: #f7fffe;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #2B6BEB;
  cursor: pointer;
  margin-right: 10px;
  
}


.form button:hover
{
  background: #2B6BEB;
  color: white;
}



.todo-container{

  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list
{
  min-width: 30%;
  list-style: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.todo
{
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.todo li
{ 
  flex:1; 
}

.todo-item
{
  padding: 0rem 0.5rem;
  flex: 1;

}
.todo-itemis-com
{
  padding: 0rem 0.5rem;
  text-decoration: line-through;
  opacity: 0.5;
  flex: 1;

}


.complete-btn
{
  background:#00e6ac;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn:hover
{
  background-color: #1affc6;
}

.delete-btn
{
  background: #DC3545;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.delete-btn:hover
{
  background: #e20f24;
}

.sweet-loading
{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}




